{% extends 'hubs/navigation.html'%}

{% load i18n %}
{% load bootstrap %}

{% block subtitle %}{% trans 'Personal room' %}{% endblock %}

{% block pagescript%}{% endblock %}

{% block pagestyle%}{% endblock %}

{% block content %}
<div class="container">
    <h1>Головна сторінка для блогерів</h1>
    <div class="row">
        <div class="col-md-8">
    {# TODO -> show message if email not confirm #}
            Hello {{ user.user_name }}, it is your personal room!<br>
            Here your e-mail - {{ user.email }}<br>
            {% if user.city %}You are from {{ user.city }}<br>{% endif %}
            {% if user.phone %}Your phone number is '{{ user.phone }}'<br>{% endif %}

        </div>
        <div class="col-md-4 text-right">
            <a href="{% url 'accounts:bloger_post_create_view' %}" class="btn btn-primary">Додати нову статтю</a>
            <a href="{% url 'accounts:bloger_post_list_view' %}" class="btn btn-primary">Всі твої статті</a>
        </div>
    </div>


</div>
{% endblock %}


