{% extends 'hubs/navigation.html'%}

{% load i18n %}
{% load bootstrap %}

{% block subtitle %}{% trans 'Personal room' %}{% endblock %}

{% block pagescript%}{% endblock %}

{% block pagestyle%}{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
{#        TODO -> show message if email not confirm #}
        Hello {{ user.user_name }}, it is your personal room!<br>
        Here your e-mail - {{ user.email }}<br>
        You are from {{ user.city }}<br>
        Your phone number is '{{ user.phone }}'<br>
        {% if user.has_shop %}
            My shop -> <a href="{% url 'shop:show' %}">{{ user.user_shop.name }}</a><br>
        {% endif %}
        {% if user.is_active_manager %}
            My manage shop -> <a href="{% url 'shop:show' %}">{{ user.manage_shop.name }}</a><br>
        {% endif %}

    </div>
{% endblock %}
