{% extends 'hubs/navigation.html' %}

{% load i18n %}
{% load static %}


{% block pagestyle %}

    <link rel="stylesheet" href="{% static 'hubs/css/eventsapp.css' %}" type='text/css' />
    <link rel="stylesheet" href="{% static 'hubs/css/index.css' %}" type='text/css' />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock %}



{% block content %}

    <div id="index-block1" class="">
        <div class="continer">



        </div>
    </div>

{% endblock %}



{% block pagescript %}

{% endblock %}
