{% extends 'adm/navigation_admin.html' %}
{% load i18n %}

{% block subtitle %}Хаби{% endblock %}

{% block pagestyle %}{% endblock %}

{% block content %}

    <div class="container">

        <h1>Хаби</h1>

        <hr/>

        <div class="">
            <a href="{% url 'adm:hub_create_view' %}" class="btn btn-primary">Створити</a>
        </div>

        <div class="table-top-padded">
            <table class="table table-bordered">
                <thead>
                    <th>Назва</th>
                    <th>Slug</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td><a href="{% url 'adm:hub_edit_view' object.pk %}">{{ object.title }}</a></td>
                            <td>{{ object.slug }}</td>
                            <td class="col-md-1">
                                <a href="{% url 'adm:hub_delete_view' object.pk %}" class="btn btn-xs btn-danger">Видалити</a></td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


{% endblock %}

{% block pagescript %}{% endblock %}
