<div class="footer">

    <div class="container">

        <div class="row">

            <div class="col-md-3">

                <p>&copy; 2016 simply.co.ua</p>

            </div>

            <div class="col-md-3">
            </div>

            <div class="col-md-3">
            </div>

            <div class="col-md-3">

                <p>Created by &mdash; <a href="http://simply.co.ua" target="_blank">SimplyCo Studio</a></p>

                <div>
                    <a href="http://proudlymade.in.ua/" target="_blank"><img src="http://proudlymade.in.ua/button/1/" alt="Proudly Made in Ukraine" title="Proudly Made in Ukraine" ></a>
                </div>

            </div>

        </div>







    </div>

</div>
