{% extends 'hubs/navigation.html' %}

{% load i18n %}
{% load bootstrap %}

{% block subtitle %}
    {% trans 'Reset complete' %}
{% endblock subtitle %}

{% block pagescript %}
{% endblock %}

{% block pagestyle %}
{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h1>{% trans 'Password reset complete' %}</h1>
        <p>{% trans "Your password has been set.  You may go ahead and log in  ->" %}
        <a href="{% url 'accounts:login' %}">{% trans 'here' %}.</a></p>
    </div>
{% endblock %}